@import '../../../styles/util/breakpoints';

.header {
    width: 100%;
    height: 72px;
    padding: 16px;
    display: flex;
    justify-content: space-between;

    .flex {
        display: flex;
        align-items: center;
    }
}
